<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817888500354-1h7mrgj01apoh7v4hmloome2otcjf90t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817888500354-1h7mrgj01apoh7v4hmloome2otcjf90t</string>
	<key>API_KEY</key>
	<string>AIzaSyATZgDRMNFSPLBLtPVNiLLL2PH8AEk-rc8</string>
	<key>GCM_SENDER_ID</key>
	<string>817888500354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.msi.FoodVoucher</string>
	<key>PROJECT_ID</key>
	<string>food-6b693</string>
	<key>STORAGE_BUCKET</key>
	<string>food-6b693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817888500354:ios:3cbbd630d7788a82e4f29b</string>
</dict>
</plist>